@using Microsoft.AspNet.Identity
@if (Request.Cookies["userName"] != null)
{
    using (Html.BeginForm("Logout", "Usuarios", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else if (Request.Cookies["userPaciente"] != null)
{
    using (Html.BeginForm("SesionOut", "Pacientes", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Administración", "Login", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Pacientes", "Sesion", "Pacientes", routeValues: null, htmlAttributes: new { id = "loginPaciente" })</li>
    </ul>
}
