@model IEnumerable<MVC5.Models.Usuario>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinica nutricionista Nutri+</h1>
    <p class="lead">Información de contacto:</p>
    <p class="lead">Dr. Miriam Rodriguez</p>
    <p class="lead">Télefono: 2460-2453</p>
    <p class="lead">Dirección: 50 mts Norte del hospital San Carlos</p>
</div>



<div class="row">
    <div class="col-md-4">
    About 1
    </div>
    <div class="col-md-4">
        About 2
    </div>
    <div class="col-md-4">
        About 3
    </div>
</div>