@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de nutrición Nutri+</h1>
    <p class="lead">- Dr. Mirian Gonzales</p>
    <p class="lead">- Tel: 2460-6754</p>
    <p class="lead">- Dirección: 50 metros norte del hospital San Carlos</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Información</h2>
        <p>- Primer Proyecto Ambiente Web II</p>
        <p>- Fecha de entrega: 9/03/2015</p>
        <p>- Profesor: Bladimir Arroyo</p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2>Integreantes:</h2>
        <p>- Ignacio Valerio Vega</p>
        <p>- Misael Valerio Vega</p>
    </div>
</div>